/* general css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;

  /* extras */
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
}

.container {
  max-width: 81.25%;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  min-width: 14rem;
  text-decoration: none;
  border-radius: 0.8rem;
  padding: 1.4rem 2.4rem;
  background-color: #ff5400;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  transition: 0.3s all;
}

.btn:hover {
  background-color: #e64c00;
}

.section-title {
  color: #131318;
  font-size: 4rem;
  font-weight: 800;
}

.text-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1.6rem;
  line-height: 2.6rem;
}

/* mobile nav */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* header section */
.section-header {
  padding: 4.8rem 0;
  position: relative;
}

.header-content-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-brand {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.header-brand-title {
  color: #131318;
  font-size: 3.6rem;
  font-weight: 800;
}

.header-brand-title span {
  color: #ff5400;
}

.header-nav-list {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.header-nav-link:link,
.header-nav-link:visited {
  text-decoration: none;
  color: #424247;
  font-size: 1.8rem;
}

.header-nav-link:hover,
.header-nav-link:active {
  text-decoration: none;
  color: #ff5400;
}

/* banner section */
.section-banner {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");

  background-position: center;
  background-size: cover;
  border-radius: 1.6rem;
}

.banner-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8rem;
  gap: 2.4rem;
}

.banner-title {
  color: #fff;
  font-size: 6.4rem;
  font-weight: 800;
}

.banner-text {
  color: #fff;
  max-width: 64rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.6rem; /* 162.5% */
}

.banner-form-box {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0.8rem;
  padding: 1.6rem 2.4rem;
}

.banner-form {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
  max-width: 72rem;
}

.banner-form select {
  color: rgba(19, 19, 24, 0.5);
  font-size: 1.6rem;
}

.banner-form-input {
  min-width: 12rem;
  width: 100%;
  padding: 1.6rem 1.2rem;
  border-radius: 0.8rem;
  border: 0;
}

.btn--form {
  gap: 0.8rem;
}

/* Section Popular */
.section-popular {
  margin-top: 9.6rem;
}

.popular-content-box {
  display: grid;
  /* align-items: stretch; */
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.popular-text-box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-start;
  justify-content: space-between;
  /* width: 100%; */
  flex: 1;
}

.popular-list {
  padding-left: 3.2rem;
}

/* .popular-img-box {
  height: 100%;
} */

.popular-img-box img {
  width: 100%;
  height: 100%;
}

/* .popular-img-box img {
  width: 100%;
} */

/* Section Destination */
.section-destination {
  margin-top: 9.6rem;
}

.destination-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.destination-text-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  /* max-width: 72rem; */
}

.destination-img-box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.destination-row-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.destination-row-2 {
  display: grid;
  grid-template-columns: 3fr 4fr 2fr;
  gap: 3.2rem;
}

.destination-row-3 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 3.2rem;
}

.img-box {
  width: 100%;
  position: relative;
  background: linear-gradient(0deg, rgba(19, 19, 24, 0.2) 0%);
  border-radius: 1.6rem;
  transition: 0.4s all;
}

.img-box:hover {
  transform: scale(1.05);
}

.destination-img-box img {
  width: 100%;
  height: 100%;
}

.img-text {
  color: #fff;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Section Choose */
.section-choose {
  margin-top: 9.6rem;
}

.choose-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.choose-text-box p {
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  /* max-width: 64rem; */
}

.choose-boxes {
  display: flex;
  justify-content: center;
  gap: 6.4rem;
  margin-bottom: 3.2rem;
}

.choose-box-item {
  width: 50%;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2.4rem;
  border-radius: 0.8rem;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.choose-box-item--blue {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.choose-title {
  color: #131318;
  font-size: 2.4rem;
  font-weight: 800;
}

/* .choose-box-item p {
  max-width: 40rem;
} */

.choose-img {
  width: 4.8rem;
}

/* Section Deals */
.section-deals {
  margin-top: 9.6rem;
}

.deals-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deals-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 4rem;
  text-align: center;
}

.deals-text-box .text-description {
  max-width: 56rem;
}

.deals-item-box {
  background: url("../Images/Group\ 39.png"), lightgray 50%;
  padding: 6.4rem;
  margin-bottom: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 1.6rem;
  background-position: center;
  background-size: cover;
}

.deals-item-box-2 {
  background: url("../Images/Group\ 40.png"), lightgray 50%;
  justify-content: flex-end;
  background-position: center;
  background-size: cover;
}

.deals-item {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 60%;
  border-radius: 1.6rem;
  padding: 3.2rem;
  background: rgba(255, 255, 255, 0.8);

  backdrop-filter: blur(2.5px);
}

.deals-item-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6.4rem;
}

.deals-top-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #ff5400;
}

.deals-top-item-2 {
  display: flex;
  align-items: center;
  gap: 6.4rem;
  color: #ff5400;
}

.deals-top-text {
  color: #5a5a5d;
  font-size: 1.6rem;
}

.deals-icon {
  font-size: 1.6rem;
}

.deals-item-text-box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-start;
}

.deals-item-title {
  color: #131318;
  font-size: 2.4rem;
  font-weight: 800;
}

.deals-price-text {
  color: #ff5400;
  font-size: 2rem;
  font-weight: 800;
}

/* Section News */
.section-news {
  margin-top: 9.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-content-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3.2rem;
  gap: 2.4rem;
}

.news-left-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.6rem;
}

.news-left-item {
  display: flex;
  gap: 1.6rem;
}

.news-left-news-part {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.news-left-news {
  display: flex;
  gap: 1.2rem;
}

.icon-dot {
  font-size: 0.8rem;
}

.news-left-title {
  color: #131318;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 2.4rem;
  /* max-width: 36rem; */
}

.news-left-news {
  display: flex;
}

.news-right-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  overflow: hidden;
}

.news-right-title {
  color: #131318;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 2.4rem;
}

.news-right-box img {
  width: 100%;
  transition: 0.5s all;
}

.news-right-box img:hover {
  transform: scale(1.1);
}

/* Section video */
.section-video {
  margin-top: 9.6rem;
}

.video-content-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  gap: 3.2rem;
  height: 100%;
}

.video-text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.6rem;
}

.video-img-box {
  width: 100%;
  height: 100%;
}

.video-title {
  color: #131318;
  font-size: 4rem;
  font-weight: 800;
  line-height: 6rem; /* 150% */
}

.video-list {
  padding-left: 2.4rem;
  /* max-width: 38rem; */
  margin: 1.6rem 0;
}

.video-list-item {
  color: #131318;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.6rem; /* 162.5% */
}

.video-video {
  width: 100%;
  /* height: 100%; */
  border-radius: 1.6rem;

  /* background: url("../Images/Group\ 40089.png"); */
}

/* Section Newsletter */
.section-newsletter {
  margin-top: 9.6rem;
}

.newsletter-content-box {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: stretch;
  justify-content: center;
  gap: 2.4rem;
}

.newsletter-form input {
  border-radius: 0.8rem;
  background-color: rgba(19, 19, 24, 0.05);
}

.newsletter-text-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  border-radius: 1.6rem;
  border: 1px solid #ff5400;
  padding: 2.4rem;
}

.newsletter-title {
  color: #131318;
  font-size: 2.4rem;
  font-weight: 800;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.newsletter-form input {
  padding: 1.6rem 2.4rem;
  border: none;
}

.btn--newsletter {
  display: flex;
  justify-content: center;
  text-align: center;
}

.newsletter-img-box {
  width: 100%;
  /* height: 100%; */
  position: relative;
}

.newsletter-img-box img {
  width: 100%;
  height: 100%;
}

.offer-text {
  color: #fff;
  text-align: center;
  font-size: 2.4rem;
}

.newsletter-offer {
  border-radius: 1.6rem;
  background-color: #ff5400;
  text-align: center;
  padding: 1.6rem 2.4rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(-30deg) translate(10%, -50%);
}

.offer-heading {
  color: #fff;
  font-size: 3.2rem;
  font-weight: 800;
}

/* Section Footer */
.section-footer {
  margin-top: 9.6rem;
  background: rgba(19, 19, 24, 0.05);
  padding: 9.6rem;
}

.footer-content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.footer-content-box .text-description {
  max-width: 64rem;
}

.footer-brand {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 2.4rem;
}

.footer-brand-title {
  color: #131318;
  font-weight: 800;
}

.footer-brand-title span {
  color: #ff5400;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin-bottom: 2.4rem;
}

.social-icon {
  font-size: 2.4rem;
}

@media (max-width: 62em) {
  .deals-item {
    width: 80%;
  }

  .header-brand-title {
    font-size: 2.4rem;
  }

  .header-brand-title span {
    color: #ff5400;
  }

  .header-nav-list {
    gap: 1.6rem;
  }

  .popular-content-box {
    grid-template-columns: 3fr 2fr;
  }
  .popular-img-box img {
    /* width: 100%; */
    height: auto;
  }

  .video-title {
    max-width: 48rem;
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 125%;
    margin-top: 0.8rem;
    margin-bottom: 1.6rem;
  }

  .video-text-box {
    gap: 0;
  }
}

@media (max-width: 52em) {
  html {
    font-size: 56.25%;
  }

  .popular-content-box {
    grid-template-columns: 1fr;
  }

  .popular-img-box img {
    /* width: 100%; */
    max-height: 48rem;
  }

  .banner-form {
    flex-direction: column;
  }

  .banner-form-input {
    padding: 1.6rem 2.4rem;
  }

  .banner-form .btn {
    width: 100%;
    justify-content: center;
  }

  .destination-row-1,
  .destination-row-2,
  .destination-row-3 {
    grid-template-columns: 1fr;
  }

  .choose-boxes {
    display: flex;
    justify-content: center;
    gap: 2.4rem;
    margin-bottom: 3.2rem;
  }

  .video-content-box,
  .newsletter-content-box,
  .news-content-box {
    grid-template-columns: 1fr;
  }

  .destination-img-box img {
    max-height: 30rem;
  }

  .deals-item {
    width: 100%;
  }
  .deals-item-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
  }

  .deals-top-item-2 {
    display: flex;
  }

  .section-video {
    margin-top: 4.8rem;
  }

  .btn-mobile-nav {
    display: block;
  }
  .header-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .header-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .header-nav-list {
    flex-direction: column;
    text-align: center;
    gap: 1.6rem;
  }

  .header-nav-link:link,
  .header-nav-link:visited {
    font-size: 3rem;
    font-weight: 800;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .banner-content-box {
    padding: 6.4rem;
  }

  .banner-form-box {
    min-width: 100%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 50%;
  }

  .choose-boxes {
    flex-direction: column;
  }
  .choose-box-item {
    width: 100%;
  }

  .banner-content-box {
    padding: 2.4rem;
  }

  .banner-form-box {
    min-width: 100%;
  }

  /* .banner-form {
    min-width: 48rem;
  } */

  .deals-item {
    margin-top: 9.6rem;
  }
}
