/* header section */
.section-header {
  padding: 4.8rem 0;
}

.header-content-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-brand {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.header-brand-title {
  color: #131318;
  font-size: 3.6rem;
  font-weight: 800;
}

.header-brand-title span {
  color: #ff5400;
}

.header-nav-list {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.header-nav-link:link,
.header-nav-link:visited {
  text-decoration: none;
  color: #424247;
  font-size: 1.8rem;
}

.header-nav-link:hover,
.header-nav-link:active {
  text-decoration: none;
  color: #ff5400;
}

/* banner section */
.section-banner {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");

  background-position: center;
  background-size: cover;
  border-radius: 1.6rem;
}

.banner-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8rem;
  gap: 2.4rem;
}

.banner-title {
  color: #fff;
  font-size: 6.4rem;
  font-weight: 800;
}

.banner-text {
  color: #fff;
  max-width: 64rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.6rem; /* 162.5% */
}

.banner-form-box {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0.8rem;
  padding: 1.6rem 2.4rem;
}

.banner-form {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
}

.banner-form-input {
  max-width: 16rem;
  padding: 1.6rem;
  border-radius: 0.8rem;
  border: 0;
}

.btn--form {
  gap: 0.8rem;
}

/* Section Popular */
.section-popular {
  margin-top: 9.6rem;
}

.popular-content-box {
  display: flex;
  gap: 6.4rem;
}

.popular-text-box {
  max-width: 52rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: flex-start;
}

.popular-list {
  padding-left: 3.2rem;
}

.popular-img-box {
  width: 100%;
}

.popular-img-box img {
  width: 100%;
}

/* Section Destination */
.section-destination {
  margin-top: 9.6rem;
}

.destination-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.destination-text-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  max-width: 72rem;
}

.destination-img-box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.destination-row-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.destination-row-2 {
  display: grid;
  grid-template-columns: 3fr 4fr 2fr;
  gap: 3.2rem;
}

.destination-row-3 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 3.2rem;
}

.img-box {
  width: 100%;
  position: relative;
  background: linear-gradient(0deg, rgba(19, 19, 24, 0.2) 0%);
  border-radius: 1.6rem;
}

.img-text {
  color: #fff;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Section Choose */
.section-choose {
  margin-top: 9.6rem;
}

.choose-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.choose-text-box p {
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  max-width: 64rem;
}

.choose-boxes {
  display: flex;
  justify-content: center;
  gap: 6.4rem;
  margin-bottom: 3.2rem;
}

.choose-box-item {
  width: 50%;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2.4rem;
  border-radius: 0.8rem;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.choose-box-item--blue {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.choose-title {
  color: #131318;
  font-size: 2.4rem;
  font-weight: 800;
}

.choose-box-item p {
  max-width: 40rem;
}

.choose-img {
  width: 4.8rem;
}

/* Section Deals */
.section-deals {
  margin-top: 9.6rem;
}

.deals-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deals-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 4rem;
  text-align: center;
}

.deals-text-box .text-description {
  max-width: 56rem;
}

.deals-item-box {
  background: url("../Images/Group\ 39.png"), lightgray 50%;
  padding: 6.4rem;
  margin-bottom: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 1.6rem;
}

.deals-item-box-2 {
  background: url("../Images/Group\ 40.png"), lightgray 50%;
  justify-content: flex-end;
}

.deals-item {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 60%;
  border-radius: 16px;
  border: 2px solid #fff;
  padding: 3.2rem;
  background: rgba(255, 255, 255, 0.8);

  backdrop-filter: blur(2.5px);
}

.deals-item-top {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.deals-top-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #ff5400;
}

.deals-top-text {
  color: #5a5a5d;
  font-size: 1.6rem;
}

.deals-icon {
  font-size: 1.6rem;
}

.deals-item-text-box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-start;
}

.deals-item-title {
  color: #131318;
  font-size: 2.4rem;
  font-weight: 800;
}

.deals-price-text {
  color: #ff5400;
  font-size: 2rem;
  font-weight: 800;
}

/* Section Choose */
.section-video {
  margin-top: 9.6rem;
}

.video-content-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
}

.video-text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}

.video-title {
  color: #131318;
  max-width: 48rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 6rem; /* 150% */
}

.video-list {
  padding-left: 2.4rem;
}

.video-list-item {
  color: #131318;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.6rem; /* 162.5% */
}

.video-video {
  width: 100%;
  border-radius: 1.6rem;

  /* background: url("../Images/Group\ 40089.png"); */
}

/* Section Newsletter */
.section-newsletter {
  margin-top: 9.6rem;
}
